****************************************************
<h1>Thanks For Buying at N8</h1>
<p>First Name: <br> <%= card_holder %> <p>
<p>Last Name: <br> <%= card_holder %> <p>
<p>Card Brand: <br> <%= card_brand %> <p>
<p>Card Last 4 Digits <br> <%= card_last4 %> <p>
<p>Card Holder: <br> <%= card_holder %> <p>
<p>Total Amount <br> <%= total_amount %> <p>
<p>Email: <br> <%= email %> <p>
<p>Date/Time: <br> <%= date %> <p>
*****************************************************
<br>
<button type="button" id="return">To The Main Page</button>
<script src="/public/js/receipt.js"></script>