****************************************************
<h1>Thank For Buying at N8</h1>
<p>Transaction code: <br> <%= code %> <p>
<p>First Name: <br> <%= first_name %> <p>
<p>Last Name: <br> <%= last_name %> <p>
<p>Shipping Address: <br> <%= shipping_address %> <p>
<p>Billing Address: <br> <%= billing_address %> <p>
<p>Card Details: <br> <%= card_details %> <p>
<p>Total Amount <br> <%= total_amount %> <p>
<p>Items: <br> <%= items %> <p>
<p>Email: <br> <%= email %> <p>
<p>Date/Time: <br> <%= timestamp %> <p>
<p>Type: <br> <%= type %> <p>
*****************************************************
<br>
<a href="https://www.netonnet.se/art/dator-surfplatta/skrivare-scanner/blackstraleskrivare/canon-pixma-mg2550s/236170.8938/?gclid=CjwKCAjwkPX0BRBKEiwA7THxiOTOpILcAlJr6zSwkft3ZksTyipK9-y6DPzMH67gdknN1z2uyIPbXBoCMu0QAvD_BwE">Print</a>
