****************************************************
<h1>Thank For Buying at N8</h1>
<p>Transaction code: <br> <%= code %> <p>
<p>First Name: <br> <%= first_name %> <p>
<p>Last Name: <br> <%= last_name %> <p>
<p>Shipping Address: <br> <%= shipping_address %> <p>
<p>Billing Address: <br> <%= billing_address %> <p>
<p>Card Details: <br> <%= card_details %> <p>
<p>Total Amount <br> <%= total_amount %> <p>
<p>Items: <br> <%= items %> <p>
<p>Email: <br> <%= email %> <p>
<p>Date/Time: <br> <%= timestamp %> <p>
<p>Type: <br> <%= type %> <p>
*****************************************************
<br>
<a href="http://localhost/public">Return To The Main Page</a>
